/* Add these styles to your CSS file or within a <style> tag */
#league-selection {
    flex: 0 0 200px; /* Fixed width for the sidebar */
    padding: 10px;
    border-right: 1px solid #ccc; /* Right border for the sidebar */
}

#main-content {
    flex: 1; /* Fills the remaining space */
    padding: 10px;
}

#match-filters {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

#match-filters button {
    border: none;
}

#match-filters button:focus {
    background-color: red;
    border: none;
}

#match-filters button:hover {
    background-color: red;
    border: none;
}

#match-infoCont {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

#sidebar-container {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
}

#wg-api-baseball-games {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}


